## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE
drop_cols = ['EIN', 'NAME']
application_df.drop(drop_cols, axis=1, inplace=True)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
#  YOUR CODE GOES HERE
counts = pd.DataFrame(application_df.value_counts('APPLICATION_TYPE'))
counts

                      0
APPLICATION_TYPE
T3                27037
T4                 1542
T6                 1216
T5                 1173
T19                1065
T8                  737
T7                  725
T10                 528
T9                  156
T13                  66
T12                  27
T2                   16
T14                   3
T25                   3
T29                   2
T15                   2
T17                   1

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE

application_types_to_replace = []
cutoff = 200
for i in range(len(counts)):
    if counts.iloc[i,0] < cutoff:
        application_types_to_replace.append(counts.index[i])
        
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE
class_counts = pd.DataFrame(application_df['CLASSIFICATION'].value_counts())
class_counts

       CLASSIFICATION
C1000           17326
C2000            6074
C1200            4837
C3000            1918
C2100            1883
...               ...
C4120               1
C8210               1
C2561               1
C4500               1
C2150               1

[71 rows x 1 columns]

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE
application_df['CLASSIFICATION'].value_counts().loc[lambda x : x > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE

classifications_to_replace = []
cutoff = 1000
for i in range(len(class_counts)):
    if class_counts.iloc[i,0] < cutoff:
        classifications_to_replace.append(class_counts.index[i])

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
application_df = pd.get_dummies(application_df) #Dropping the correlated columns
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [10]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
y = application_df['IS_SUCCESSFUL']
X = application_df.drop(columns='IS_SUCCESSFUL')
y.value_counts()

1    18261
0    16038
Name: IS_SUCCESSFUL, dtype: int64

In [11]:
# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [12]:
len(X_test)

8575

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler with only the continuous feature, 'ASK_AMT', then transform it
X_train_scaled = scaler.fit_transform(X_train[["ASK_AMT"]])
X_test_scaled = scaler.fit_transform(X_test[["ASK_AMT"]])

# Add the scaled data to the original dataframe
X_train['ASK_AMT'] = X_train_scaled
X_test['ASK_AMT'] = X_test_scaled

#Converting dataframes into arrays so they are compatible with the sklearn .fit function
X_train = X_train.values
X_test = X_test.values

## Compile, Train and Evaluate the Model

In [14]:
# Define the model - deep neural net
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  100
hidden_nodes_layer2 = 30
hidden_nodes_layer3 = 10

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 100)               4400

 dense_1 (Dense)             (None, 30)                3030

 dense_2 (Dense)             (None, 10)                310

 dense_3 (Dense)             (None, 1)                 11

=================================================================
Total params: 7751 (30.28 KB)
Trainable params: 7751 (30.28 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [15]:
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [16]:
fit_model = nn.fit(X_train,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 1s 908us/step - loss: 0.5717 - accuracy: 0.7186
Epoch 2/100
804/804 [==============================] - 1s 859us/step - loss: 0.5550 - accuracy: 0.7292
Epoch 3/100
804/804 [==============================] - 1s 810us/step - loss: 0.5514 - accuracy: 0.7301
Epoch 4/100
804/804 [==============================] - 1s 804us/step - loss: 0.5500 - accuracy: 0.7327
Epoch 5/100
804/804 [==============================] - 1s 807us/step - loss: 0.5491 - accuracy: 0.7322
Epoch 6/100
804/804 [==============================] - 1s 786us/step - loss: 0.5469 - accuracy: 0.7348
Epoch 7/100
804/804 [==============================] - 1s 814us/step - loss: 0.5475 - accuracy: 0.7344
Epoch 8/100
804/804 [==============================] - 1s 806us/step - loss: 0.5460 - accuracy: 0.7341
Epoch 9/100
804/804 [==============================] - 1s 917us/step - loss: 0.5457 - accuracy: 0.7337
Epoch 10/100
804/804 [==============================] - 1s 815us/step - loss: 0.5443 - accuracy: 0.7349
Epoch 11/100
804/804 [==============================] - 1s 809us/step - loss: 0.5438 - accuracy: 0.7353
Epoch 12/100
804/804 [==============================] - 1s 809us/step - loss: 0.5430 - accuracy: 0.7358
Epoch 13/100
804/804 [==============================] - 1s 806us/step - loss: 0.5433 - accuracy: 0.7368
Epoch 14/100
804/804 [==============================] - 1s 805us/step - loss: 0.5424 - accuracy: 0.7373
Epoch 15/100
804/804 [==============================] - 1s 809us/step - loss: 0.5420 - accuracy: 0.7365
Epoch 16/100
804/804 [==============================] - 1s 804us/step - loss: 0.5420 - accuracy: 0.7374
Epoch 17/100
804/804 [==============================] - 1s 806us/step - loss: 0.5410 - accuracy: 0.7374
Epoch 18/100
804/804 [==============================] - 1s 794us/step - loss: 0.5407 - accuracy: 0.7376
Epoch 19/100
804/804 [==============================] - 1s 856us/step - loss: 0.5409 - accuracy: 0.7376
Epoch 20/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5401 - accuracy: 0.7388
Epoch 21/100
804/804 [==============================] - 1s 942us/step - loss: 0.5398 - accuracy: 0.7383
Epoch 22/100
804/804 [==============================] - 1s 921us/step - loss: 0.5391 - accuracy: 0.7379
Epoch 23/100
804/804 [==============================] - 1s 834us/step - loss: 0.5394 - accuracy: 0.7379
Epoch 24/100
804/804 [==============================] - 1s 862us/step - loss: 0.5385 - accuracy: 0.7385
Epoch 25/100
804/804 [==============================] - 1s 903us/step - loss: 0.5386 - accuracy: 0.7385
Epoch 26/100
804/804 [==============================] - 1s 800us/step - loss: 0.5382 - accuracy: 0.7385
Epoch 27/100
804/804 [==============================] - 1s 795us/step - loss: 0.5381 - accuracy: 0.7381
Epoch 28/100
804/804 [==============================] - 1s 808us/step - loss: 0.5383 - accuracy: 0.7390
Epoch 29/100
804/804 [==============================] - 1s 988us/step - loss: 0.5380 - accuracy: 0.7390
Epoch 30/100
804/804 [==============================] - 1s 797us/step - loss: 0.5378 - accuracy: 0.7391
Epoch 31/100
804/804 [==============================] - 1s 796us/step - loss: 0.5372 - accuracy: 0.7388
Epoch 32/100
804/804 [==============================] - 1s 792us/step - loss: 0.5374 - accuracy: 0.7386
Epoch 33/100
804/804 [==============================] - 1s 803us/step - loss: 0.5371 - accuracy: 0.7398
Epoch 34/100
804/804 [==============================] - 1s 800us/step - loss: 0.5371 - accuracy: 0.7393
Epoch 35/100
804/804 [==============================] - 1s 799us/step - loss: 0.5365 - accuracy: 0.7390
Epoch 36/100
804/804 [==============================] - 1s 792us/step - loss: 0.5364 - accuracy: 0.7391
Epoch 37/100
804/804 [==============================] - 1s 794us/step - loss: 0.5365 - accuracy: 0.7394
Epoch 38/100
804/804 [==============================] - 1s 810us/step - loss: 0.5361 - accuracy: 0.7395
Epoch 39/100
804/804 [==============================] - 1s 793us/step - loss: 0.5368 - accuracy: 0.7388
Epoch 40/100
804/804 [==============================] - 1s 838us/step - loss: 0.5360 - accuracy: 0.7392
Epoch 41/100
804/804 [==============================] - 1s 807us/step - loss: 0.5355 - accuracy: 0.7401
Epoch 42/100
804/804 [==============================] - 1s 804us/step - loss: 0.5360 - accuracy: 0.7399
Epoch 43/100
804/804 [==============================] - 1s 902us/step - loss: 0.5357 - accuracy: 0.7400
Epoch 44/100
804/804 [==============================] - 1s 940us/step - loss: 0.5354 - accuracy: 0.7404
Epoch 45/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5355 - accuracy: 0.7401
Epoch 46/100
804/804 [==============================] - 1s 943us/step - loss: 0.5354 - accuracy: 0.7399
Epoch 47/100
804/804 [==============================] - 1s 809us/step - loss: 0.5352 - accuracy: 0.7407
Epoch 48/100
804/804 [==============================] - 1s 864us/step - loss: 0.5348 - accuracy: 0.7402
Epoch 49/100
804/804 [==============================] - 1s 913us/step - loss: 0.5347 - accuracy: 0.7408
Epoch 50/100
804/804 [==============================] - 1s 803us/step - loss: 0.5351 - accuracy: 0.7399
Epoch 51/100
804/804 [==============================] - 1s 798us/step - loss: 0.5349 - accuracy: 0.7399
Epoch 52/100
804/804 [==============================] - 1s 808us/step - loss: 0.5346 - accuracy: 0.7402
Epoch 53/100
804/804 [==============================] - 1s 791us/step - loss: 0.5344 - accuracy: 0.7407
Epoch 54/100
804/804 [==============================] - 1s 952us/step - loss: 0.5348 - accuracy: 0.7413
Epoch 55/100
804/804 [==============================] - 1s 967us/step - loss: 0.5344 - accuracy: 0.7404
Epoch 56/100
804/804 [==============================] - 1s 819us/step - loss: 0.5341 - accuracy: 0.7406
Epoch 57/100
804/804 [==============================] - 1s 783us/step - loss: 0.5344 - accuracy: 0.7410
Epoch 58/100
804/804 [==============================] - 1s 789us/step - loss: 0.5343 - accuracy: 0.7398
Epoch 59/100
804/804 [==============================] - 1s 940us/step - loss: 0.5341 - accuracy: 0.7411
Epoch 60/100
804/804 [==============================] - 1s 950us/step - loss: 0.5342 - accuracy: 0.7409
Epoch 61/100
804/804 [==============================] - 1s 801us/step - loss: 0.5344 - accuracy: 0.7412
Epoch 62/100
804/804 [==============================] - 1s 793us/step - loss: 0.5343 - accuracy: 0.7402
Epoch 63/100
804/804 [==============================] - 1s 817us/step - loss: 0.5336 - accuracy: 0.7409
Epoch 64/100
804/804 [==============================] - 1s 967us/step - loss: 0.5339 - accuracy: 0.7403
Epoch 65/100
804/804 [==============================] - 1s 824us/step - loss: 0.5337 - accuracy: 0.7409
Epoch 66/100
804/804 [==============================] - 1s 951us/step - loss: 0.5334 - accuracy: 0.7419
Epoch 67/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5337 - accuracy: 0.7403
Epoch 68/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5331 - accuracy: 0.7415
Epoch 69/100
804/804 [==============================] - 1s 847us/step - loss: 0.5334 - accuracy: 0.7415
Epoch 70/100
804/804 [==============================] - 1s 872us/step - loss: 0.5335 - accuracy: 0.7409
Epoch 71/100
804/804 [==============================] - 1s 833us/step - loss: 0.5332 - accuracy: 0.7417
Epoch 72/100
804/804 [==============================] - 1s 863us/step - loss: 0.5341 - accuracy: 0.7410
Epoch 73/100
804/804 [==============================] - 1s 870us/step - loss: 0.5326 - accuracy: 0.7413
Epoch 74/100
804/804 [==============================] - 1s 864us/step - loss: 0.5332 - accuracy: 0.7406
Epoch 75/100
804/804 [==============================] - 1s 910us/step - loss: 0.5328 - accuracy: 0.7413
Epoch 76/100
804/804 [==============================] - 1s 780us/step - loss: 0.5328 - accuracy: 0.7418
Epoch 77/100
804/804 [==============================] - 1s 816us/step - loss: 0.5328 - accuracy: 0.7409
Epoch 78/100
804/804 [==============================] - 1s 821us/step - loss: 0.5328 - accuracy: 0.7413
Epoch 79/100
804/804 [==============================] - 1s 811us/step - loss: 0.5327 - accuracy: 0.7416

Epoch 80/100
804/804 [==============================] - 1s 818us/step - loss: 0.5325 - accuracy: 0.7418
Epoch 81/100
804/804 [==============================] - 1s 797us/step - loss: 0.5323 - accuracy: 0.7412
Epoch 82/100
804/804 [==============================] - 1s 822us/step - loss: 0.5326 - accuracy: 0.7422
Epoch 83/100
804/804 [==============================] - 1s 786us/step - loss: 0.5321 - accuracy: 0.7415
Epoch 84/100
804/804 [==============================] - 1s 826us/step - loss: 0.5326 - accuracy: 0.7412
Epoch 85/100
804/804 [==============================] - 1s 810us/step - loss: 0.5323 - accuracy: 0.7423
Epoch 86/100
804/804 [==============================] - 1s 822us/step - loss: 0.5323 - accuracy: 0.7413
Epoch 87/100
804/804 [==============================] - 1s 823us/step - loss: 0.5321 - accuracy: 0.7414
Epoch 88/100
804/804 [==============================] - 1s 827us/step - loss: 0.5324 - accuracy: 0.7412
Epoch 89/100
804/804 [==============================] - 1s 967us/step - loss: 0.5319 - accuracy: 0.7413
Epoch 90/100
804/804 [==============================] - 1s 984us/step - loss: 0.5324 - accuracy: 0.7417
Epoch 91/100
804/804 [==============================] - 1s 906us/step - loss: 0.5320 - accuracy: 0.7418
Epoch 92/100
804/804 [==============================] - 1s 908us/step - loss: 0.5320 - accuracy: 0.7414
Epoch 93/100
804/804 [==============================] - 1s 850us/step - loss: 0.5320 - accuracy: 0.7418
Epoch 94/100
804/804 [==============================] - 1s 879us/step - loss: 0.5317 - accuracy: 0.7417
Epoch 95/100
804/804 [==============================] - 1s 791us/step - loss: 0.5319 - accuracy: 0.7420
Epoch 96/100
804/804 [==============================] - 1s 818us/step - loss: 0.5320 - accuracy: 0.7413
Epoch 97/100
804/804 [==============================] - 1s 792us/step - loss: 0.5317 - accuracy: 0.7413
Epoch 98/100
804/804 [==============================] - 1s 814us/step - loss: 0.5314 - accuracy: 0.7414
Epoch 99/100
804/804 [==============================] - 1s 793us/step - loss: 0.5319 - accuracy: 0.7416
Epoch 100/100
804/804 [==============================] - 1s 869us/step - loss: 0.5316 - accuracy: 0.7409

In [17]:
model_loss, model_accuracy = nn.evaluate(X_test,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5706 - accuracy: 0.7261 - 264ms/epoch - 985us/step
Loss: 0.5705615878105164, Accuracy: 0.726064145565033

In [18]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE
nn.save('AlphabetSoupCharity.h5')

C:\Users\gmich\anaconda3\lib\site-packages\keras\src\engine\training.py:3000: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(